<footer class="main-footer">
    <div class="justify-content-center d-none d-sm-inline">
        <strong>Copyright &copy; @DateTime.Now.Year <a href="https://activite-it.com/" target="_blank">Activite-it</a>.</strong> @LocalizerGeneral["Todos os direitos reservados."]
        <img height="40" width="180" align="right" src="https://activite-it.com/wp-content/uploads/2023/11/activeIT_logo.png" alt="Activite-it">
    </div>
</footer>