
<footer class="main-footer">
    <div class="justify-content-center d-none d-sm-inline">
        <strong>Copyright &copy; @DateTime.Now.Year <a href="https://www.lusodata.pt/">Lusodata</a>.</strong> Todos os direitos reservados.
    </div>    
</footer>