
@{
    ViewData["Title"] = "Upload de certificados";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<form asp-controller="Clients" asp-action="UploadFile" method="post"
      enctype="multipart/form-data">
    <input class="form-control" type="file" name="file" />
    <button type="submit">Upload Certificate</button>
</form>

