@model ChangePasswordViewModel

@{
    ViewData["Title"] = LocalizerGeneral["Alterar senha"];
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<section class="section-conten padding-y container" style="min-height:35vh">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-body">
                <form asp-action="ChangePassword" method="post">
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" readonly />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="CurrentPassword"></label>
                        <input type="password" asp-for="CurrentPassword" class="form-control" />
                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="NewPassword"></label>
                        <input type="password" asp-for="NewPassword" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">@LocalizerGeneral["Redefinir"]</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}